{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>Task List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/manage/index.css' %}">
{% endblock %}



{% block extra_body %}
	<h4 align="center">All Tasks</h4>
	<div class="d-flex justify-content-center container">
		<div class="task-card" style="padding: 8px; width: 100%">
				<h3 class="task-title">fhkhas</h3>
				<p class="task-details">sdfghjkl</p>
				<a href="#" class="task-see-more btn btn-info btn-sm">See More</a>
				
			</div>

			<div class="task-card" style="padding: 8px; width: 100%">
				<h3 class="task-title">fhkhas</h3>
				<p class="task-details">sdfghjkl</p>
				<a href="#" class="task-see-more btn btn-info btn-sm">See More</a>
				
			</div>
		{% for item in task_list %}
			<div class="task-card">
				<h3 class="task-title">{{ item.title}}</h3>
				<p class="task-details">{{item.body}}</p>
				<a href="/task/{{item.uid}}/" class="task-see-more btn btn-info btn-sm">See More</a>
				<div class="row task-interract-buttons">
					<button class="col btn btn-info"><i class="fas fa-heart"></i> Upvote (1.2M)</button>
					<button class="col btn btn-info"><i class="fas fa-comment-alt"></i> Comment (23k)</button>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}



{% block extra_script %}

{% endblock %}