{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>{{ task.title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/task/view.css' %}">
{% endblock %}



{% block extra_body %}
	<div class="container">
	    <h1 class="task-title">{{ task.title }}
	    	{% if task.is_running %}
	    		<span class="badge badge-pill badge-info b">Processing</span>
	    		<a href="/task/{{task.id}}/close/" class="btn btn-outline-danger">Make Close</a>
	    	{% else %}
	    		<span class="badge badge-pill badge-danger b">Closed</span>
	    		<a href="/task/{{task.id}}/reopen/" class="btn btn-outline-success">Re Open</a>
	    	{% endif %}
	    </h1>
	    <p class="task-details">
	    	{{ task.description}}
	    </p>
	    {% if request.user.is_authenticated %}
	    	<div class="col-md-5 list-group-item">
	    		<form method="POST">
		    		{% csrf_token %}
		    		{{ form.report }}
		    		<button class="btn btn-primary">Report</button>
		    	</form>
		    	<br>
		    </div>
	    {% endif %}

	    <div class="d-flex">
	    	<div class="col-md-5 list-group-item">
		    	<div class="progress mb-2">
						<div class="progress-bar bg-success text-dark" style="width:{{satisfied}}%">Satisfied Service {{satisfied}}%</div>
					</div>
					<div class="progress mb-2">
						<div class="progress-bar bg-warning text-dark" style="width:{{poor}}%">Poor Service {{poor}}%</div>
					</div>
					<div class="progress mb-2">
						<div class="progress-bar bg-danger text-dark" style="width:{{no}}%">No Service{{no}}%</div>
					</div>
		    	</div>
		    </div>
	    </div>
	    <br>

	  	<div class="d-flex justify-content-center">
	  		<div class="col-md-6 list-group">
		  		<h3 align="center">Cover Issue List</h3>
		  		{% for item in issue_list %}
		  			<a href="/issue/{{item.uid}}/" class="list-group-item list-group-item-action">{{ item }}</a>
		   		{% endfor %}	
		  	</div>
	  	</div>
{% endblock %}



{% block extra_script %}

{% endblock %}