{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>{{ task.title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/task/view.css' %}">
{% endblock %}



{% block extra_body %}
	<div class="container">
	    <h1 class="task-title">{{ task.title }}<span class="badge badge-pill badge-info b">Processing</span></h1>
	    <p class="task-details">
	    	{{ task.description}}
	    </p>
	    <div class="task-interraction-buttons">
		    <button class="btn btn-info"><i class="fas fa-heart"></i> Vallagse</button>
		    <button class="btn btn-warning"><i class="fas fa-heart-broken"></i> Vallagenai</button>
		    <button class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i> Kam Shuru Hoy Naikka</button>
	  	</div>

	  	<div class="list-group">
	  		<h3 align="center">Cover Issue List</h3>
	  		{% for item in issue_list %}
	  			<a href="/issue/{{item.uid}}/" class="list-group-item list-group-item-action">{{ item }}</a>
	   		{% endfor %}	
	  	</div>
  </div>
{% endblock %}



{% block extra_script %}

{% endblock %}