{% extends 'base.html' %}

{% block extra_head %}
	<title>Event List</title>
{% endblock %}



{% block extra_body %}
	<br>
	{% for item in event_list %}
		<div class="d-flex justify-content-center mb-3">
			<div class="col-md-8">
				<a href="/agriculture/event/{{item.uid}}/" class="list-group-item">
					<div>
						<h4>{{item.title}}</h4>
						<h6>{{item.time}} | {{item.date}}</h6>
					</div>
				</a>
			</div>
		</div>
	{% empty %}
		<h5 align="center">Sorry, No Event</h5>
	{% endfor %}
{% endblock %}



{% block extra_script %}

{% endblock %}