{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>Crop List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/farmer/crop/list.css' %}">
{% endblock %}

{% block extra_body %}
	<div class="container">
	        <div class="row">
	            <div class="col-sm-12 col-lg-4 col-md-6">
	                <div class="card">
	                    <img class="card-img-top" src="https://previews.123rf.com/images/lightmoon/lightmoon0910/lightmoon091000020/5663593-autumn-rice-field.jpg" alt="Card image" style="width:100%">
	                    <div class="card-body">
	                        <h4 class="card-title">Paddy</h4>
	                        <p class="card-text">A paddy field is a flooded parcel of arable land used for growing semiaquatic rice. Paddy cultivation should not be confused with cultivation of deepwater rice.</p>
	                        <a href="#" class="btn btn-primary">See Article</a>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-12 col-lg-4 col-md-6">
	                <div class="card">
	                    <img class="card-img-top" src="https://previews.123rf.com/images/lightmoon/lightmoon0910/lightmoon091000020/5663593-autumn-rice-field.jpg" alt="Card image" style="width:100%">
	                    <div class="card-body">
	                        <h4 class="card-title">Paddy</h4>
	                        <p class="card-text">A paddy field is a flooded parcel of arable land used for growing semiaquatic rice. Paddy cultivation should not be confused with cultivation of deepwater rice.</p>
	                        <a href="#" class="btn btn-primary">See Article</a>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-12 col-lg-4 col-md-6">
	                <div class="card">
	                    <img class="card-img-top" src="https://previews.123rf.com/images/lightmoon/lightmoon0910/lightmoon091000020/5663593-autumn-rice-field.jpg" alt="Card image" style="width:100%">
	                    <div class="card-body">
	                        <h4 class="card-title">Paddy</h4>
	                        <p class="card-text">A paddy field is a flooded parcel of arable land used for growing semiaquatic rice. Paddy cultivation should not be confused with cultivation of deepwater rice.</p>
	                        <a href="#" class="btn btn-primary">See Article</a>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-12 col-lg-4 col-md-6">
	                <div class="card">
	                    <img class="card-img-top" src="https://previews.123rf.com/images/lightmoon/lightmoon0910/lightmoon091000020/5663593-autumn-rice-field.jpg" alt="Card image" style="width:100%">
	                    <div class="card-body">
	                        <h4 class="card-title">Paddy</h4>
	                        <p class="card-text">A paddy field is a flooded parcel of arable land used for growing semiaquatic rice. Paddy cultivation should not be confused with cultivation of deepwater rice.</p>
	                        <a href="#" class="btn btn-primary">See Article</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}