{% extends 'base.html' %}
{% load my_tags %}
{% load staticfiles %}

{% block extra_head %}
	<title>Crop List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/farmer/crop/list.css' %}">
{% endblock %}

{% block extra_body %}
	<div class="container">
	        <div class="row">
	        	{% for item in crop_list %}
	        		<div class="col-sm-12 col-lg-4 col-md-6">
		                <div class="card">
		                    <img class="card-img-top" src="/{{item.media}}" alt="Card image" style="width:100%; height: 200px;">
		                    <div class="card-body">
		                        <h4 class="card-title">{{item.name}}</h4>
		                        <p class="card-text">Category : {{ item.category | cat }}</p>
		                        <a href="/agriculture/crop/{{item.uid}}/" class="btn btn-primary">See Article</a>
		                    </div>
		                </div>
		            </div>
	        	{% endfor %}
	        </div>
	    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}