{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>Open Tasks</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/staff/panel.css' %}">
{% endblock %}



{% block extra_body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="issue-card">
					<h3 class="issue-title">Bridge Vainga Gese</h3>
					<small class="issue-data"><i class="fas fa-user"></i> Akkas Ali <i class="fas fa-calendar-alt"></i>  1 April, 2019 <i class="fas fa-map-marker-alt"></i> State of Noakhali</small>
					<p class="issue-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="issue-see-more btn btn-info btn-sm">See More</a>
					<div class="row issue-interract-buttons">
						<button class="col btn btn-info"><i class="fas fa-heart"></i> Upvote (1.2M)</button>
						<button class="col btn btn-info"><i class="fas fa-comment-alt"></i> Comment (23k)</button>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="issue-card">
					<h3 class="issue-title">Bridge Vainga Gese</h3>
					<small class="issue-data"><i class="fas fa-user"></i> Akkas Ali <i class="fas fa-calendar-alt"></i>  1 April, 2019 <i class="fas fa-map-marker-alt"></i> State of Noakhali</small>
					<p class="issue-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="issue-see-more btn btn-info btn-sm">See More</a>
					<div class="row issue-interract-buttons">
						<button class="col btn btn-info"><i class="fas fa-heart"></i> Upvote (1.2M)</button>
						<button class="col btn btn-info"><i class="fas fa-comment-alt"></i> Comment (23k)</button>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="issue-card">
					<h3 class="issue-title">Bridge Vainga Gese</h3>
					<small class="issue-data"><i class="fas fa-user"></i> Akkas Ali <i class="fas fa-calendar-alt"></i>  1 April, 2019 <i class="fas fa-map-marker-alt"></i> State of Noakhali</small>
					<p class="issue-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="issue-see-more btn btn-info btn-sm">See More</a>
					<div class="row issue-interract-buttons">
						<button class="col btn btn-info"><i class="fas fa-heart"></i> Upvote (1.2M)</button>
						<button class="col btn btn-info"><i class="fas fa-comment-alt"></i> Comment (23k)</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}



{% block extra_script %}

{% endblock %}