{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>Issue List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/manage/index.css' %}">
{% endblock %}



{% block extra_body %}
	<h4 align="center">All Issues</h4>
	<div class="container-fluid justify-content-center">
		<div class="col-md-8">
			{% for issue in issue_list %}
				<div class="issue-card">
					<h3 class="issue-title">{{ issue.title }}</h3>
					<small class="issue-data"><i class="fas fa-user"></i> {{ issue.user }} <i class="fas fa-calendar-alt"></i>  {{ issue.time_date }} <i class="fas fa-map-marker-alt"></i> {{ issue.address }}</small>
					<p class="issue-details">{{ issue.body }}</p>
					<a href="/issue/{{ issue.uid }}/" class="issue-see-more btn btn-info btn-sm d-inline-block mr-2">See More</a>
					<p class="d-inline-block mb-3"><i class="fas fa-heart"></i>({{ issue.vote }})</p>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}



{% block extra_script %}

{% endblock %}