{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>Issue: {{issue.title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/issue/view.css' %}">
{% endblock %}



{% block extra_body %}


	<div class="delete-box-wrapper" id="delete-box-wrapper">
		<div class="delete-box">
			<div class="d-flex justify-content-center">
				<h3 class="delete-warning-text">Are you sure?</h3>
				<br>
				<a href="/issue/{{issue.uid}}/delete/" class="btn btn-danger">Yes</a>
				<a href="#" class="btn btn-primary" onclick="closeAlert();">No</a>
			</div>
		</div>
	</div>

	{% if request.user.is_authenticated %}
		{% if request.user == issue.user %}
			<div class="crud-button">
				<a href="/issue/{{issue.uid}}/update/" class="btn btn-primary"><i class="fas fa-edit"></i></a>
				<a href="#" class="btn btn-danger" onclick="showAlert();"><i class="fas fa-trash-alt"></i></a>
			</div>
		{% endif %}
	{% endif %}
	<div class="container">
	    <h1 class="issue-title">{{issue.title}}</h1>
	    <small class="issue-data"><i class="fas fa-user"></i>{{issue.user.name}} <i class="fas fa-calendar-alt"></i>{{issue.time_date}}<i class="fas fa-map-marker-alt"></i>{{issue.address}}</small>
	    <div class="media-block">
	    	<img class="issue-image" src="/{{issue.media}}" alt="Issue Image">
	    </div>
	    <p class="issue-details">
		    {{ issue.body | linebreaks}}
	    </p>
	    <div class="issue-interraction-buttons" id="voot-block">
	    	<button class="btn btn-info disabled">{{issue.vote}}</button>
	    	{% if request.user.is_authenticated %}
	    		{% if request.user != issue.user %}
	    			{% if has_vote%}
		    			<a class="btn btn-info" href="/issue/{{issue.uid}}/?unvote=unvote"><i class="fas fa-heart"></i>Remove Vote</a>
		    		{% else %}
		    			<a class="btn btn-info" href="/issue/{{issue.uid}}/?vote=vote"><i class="fas fa-heart"></i> Vote</a>
		    		{% endif %}
	    		{% endif %}
	    	{% endif %}
	  	</div>
	    <form method="POST" class="list-group-item" id="form-block">
		    {% csrf_token %}
		    {{ form.body }}
		    <button class="btn btn-success">Comment</button>
	  	</form>
	  	{% for item in comments %}
	  		<div class="comments list-group-item">
			  	<img class="user-picture" src="{{item.user.thumbnail}}" alt="person" width="30px" height="30px" style="display:inline-block; float: left; margin-right: 5px;">
			  	<h5 style="display:inline-block;">{{item.user.name}}<br><small>{{item.time_date}}</small></h5>
			  	<p class="comment-text">{{item.body}}</p>
			</div>
	  	{% endfor %}
  </div>
{% endblock %}



{% block extra_script %}

	<script type="text/javascript">
		function showAlert() {
			document.getElementById('delete-box-wrapper').style.display = 'block';
		}

		function closeAlert() {
			document.getElementById('delete-box-wrapper').style.display = 'none';
		}
	</script>

{% endblock %}