{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
	<title>Issue: Bridge Vainga Geche</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/issue/view.css' %}">
{% endblock %}



{% block extra_body %}
	<div class="container">
	    <h1 class="issue-title">{{issue.title}}</h1>
	    <small class="issue-data"><i class="fas fa-user"></i>{{issue.user.name}} <i class="fas fa-calendar-alt"></i>{{issue.time_date}}<i class="fas fa-map-marker-alt"></i>{{issue.address}}</small>
	    <img class="issue-image" src="/{{issue.media}}" alt="Issue Image">
	    <p class="issue-details">
		    {{ issue.body | linebreaks}}
	    </p>
	    <div class="issue-interraction-buttons">
		    <button class="btn btn-info"><i class="fas fa-heart"></i> Upvote (1.2M)</button>
		    <button class="btn btn-danger"><i class="fas fa-flag"></i> Flag</button>
	  	</div>
	    <form action="/action_page.php">
		    <div class="input-group mb-3">
			    <textarea class="form-control" placeholder="Add Comment"></textarea>
			    <div class="input-group-append">
		        	<button class="btn btn-info">Submit</button>
		      	</div>
		    </div>
	  </form>
	  <div class="comments">
		  	<img class="user-picture" src="https://avatars3.githubusercontent.com/u/3599324?s=400&v=4" alt="person"width="60px"height="60px" style="display:inline-block">
		  	<h5 style="display:inline-block;"> Person <br><small>Date | Time</small></h5>
		  	<p class="comment-text">  Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
	  </div>
  </div>
{% endblock %}



{% block extra_script %}

{% endblock %}