{% extends 'base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block extra_head %}
	<title>Search "{{query}}"</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home/manage/index.css' %}">
{% endblock %}



{% block extra_body %}
	<div class="container">
		<h4 align="center">Issue Result</h4>
	{% for item in issue_result %}
		<div class="issue-card">
			<h3 class="issue-title">{{ item.title}}</h3>
			<small class="issue-data"><i class="fas fa-user"></i>{{item.user.name}} <i class="fas fa-calendar-alt"></i>{{item.time_date}}<i class="fas fa-map-marker-alt"></i> {{item.address}}</small>
			<p class="issue-details">{{item.body}}</p>
			<a href="/issue/{{ item.uid }}/" class="issue-see-more btn btn-info btn-sm d-inline-block mr-2">See More</a>
			<p class="d-inline-block mb-3"><i class="fas fa-heart"></i>({{ item.vote }})</p>
		</div>
	{% empty %}
		<h6 align="center">No Associated result found for issue</h6>
	{% endfor %}
	<br>

	<h4 align="center">Task Result</h4>
	{% for item in task_result %}

		<div class="task-card" style="padding: 8px">
			<h3 class="task-title">{{ item.title }}</h3>
			<p class="task-details">{{ item.body }}</p>
			<a href="/task/{{ item.task_id}}" class="task-see-more btn btn-info btn-sm">See More</a>
		</div>
	{% empty %}
		<h6 align="center">No Associated result found for task</h6>
	{% endfor %}
	<br>

	<h4 align="center">Crop Result</h4>
	{% for item in crop_result %}

		<div class="col-sm-12 col-lg-4 col-md-6">
            <div class="card">
                <img class="card-img-top" src="/{{item.media}}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="card-text">Category : {{ item.category | cat }}</p>
                    <a href="/agriculture/crop/{{item.uid}}/" class="btn btn-primary">See Article</a>
                </div>
            </div>
        </div>

    {% empty %}
		<h6 align="center">No Associated result found for crop</h6>
	{% endfor %}
	<br>


	<h4 align="center">Event Result</h4>
	{% for item in event_result %}
		<div class="d-flex justify-content-center mb-3">
			<div class="col-md-12">
				<a href="/agriculture/event/{{item.uid}}/" class="list-group-item">
					<div>
						<h4>{{item.title}}</h4>
						<h6>{{item.time}} | {{item.date}}</h6>
					</div>
				</a>
			</div>
		</div>
	{% empty %}
		<h6 align="center">No Associated result found for event</h6>
	{% endfor %}
	<br>
	</div>

	

{% endblock %}



{% block extra_script %}

{% endblock %}