{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>{{ request.user.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/account/manage/profile.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/account/manage/profilejs.js' %}"></script>
{% endblock %}



{% block extra_body %}
    <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{request.user.thumbnail}}" alt="Card image" style="width:100%; padding: 10px;">
        <div class="card-body">
          <h4 class="card-title">{{ request.user.name.upper }}</h4>

          <div class="list-group list-group-flush " style ="cursor:pointer;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fas fa-paper-plane"></i> {{ request.user.email }} </li>
                {% if request.user.gender == 'M'  %}
                        <li class="list-group-item"><i class="fas fa-venus-mars"></i> Male</li>
                    {% elif request.user.gender == 'F' %}
                        <li class="list-group-item"><i class="fas fa-venus-mars"></i> Female</li>

                    {% elif request.user.gender == 'O' %}
                        <li class="list-group-item"><i class="fas fa-venus-mars"></i> Other </li>

                    {% elif request.user.gender == '*' %}
                         <li class="list-group-item"><i class="fas fa-venus-mars"></i> Not to say </li>
                    {% endif %}

              <li class="list-group-item"><i class="fas fa-phone"></i> {{ request.user.phone }} </li>
              <li class="list-group-item"><i class="far fa-id-card"></i> {{ request.user.nid }} </li>
            </ul>
            <br>
            <a id="issues-created-by-me" href="#" class="list-group-item list-group-item-action list-group-item-info" onclick="showIssueCreated();"> Issues Created By Me</a>
            <a id="solved-issues" href="#" class="list-group-item list-group-item-action "  onclick="showSolvedIssues();"> Solved Issues</a>
            <a id="issues-progressing" href="#" class="list-group-item list-group-item-action" onclick="showIssueProgressing();"> Issues Progressing</a>
            <a id="update-profile" href="/account/update/" class="list-group-item list-group-item-action list-group-item-info"> Update</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">

        <div class="issues-created-by-me" id="issue-created-by-me-div">
            {% for issue in issues %}
                {% if issue.is_open == True  %}
                    <div class="issue-card">
                                <h3 class="issue-title">{{ issue.title }}</h3>
                                <small class="issue-data"><i class="fas fa-user"></i> {{ issue.user }} <i class="fas fa-calendar-alt"></i> {{ issue.time_date }}  <i class="fas fa-map-marker-alt"></i> State of Noakhali</small>
                                <p class="issue-details">{{ issue.body }}</p>
                                <a href="/issue/{{ issue.uid }}/" class="issue-see-more btn btn-info btn-sm">See More</a>
                                <div class="row issue-interract-buttons">
                                    <button class="col btn btn-info"><i class="fas fa-heart"></i> Upvote ({{ issue.vote }})</button>
                                </div>
                    </div><br>

                {% endif %}



            {% endfor %}

        </div>




    <div class="col-md-8">

        <div class="issues-progressing" id="issue-progressing-div" style="display: none;">

            {% for issue in issues %}
                {% if issue.is_running and issue.is_open %}
                    <div class="issue-card">
                                <h3 class="issue-title">{{ issue.title }}</h3>
                                <small class="issue-data"><i class="fas fa-user"></i> {{ issue.user }} <i class="fas fa-calendar-alt"></i> {{ issue.time_date }}  <i class="fas fa-map-marker-alt"></i> State of Noakhali</small>
                                <p class="issue-details">{{ issue.body }}</p>
                                <a href="/issue/{{ issue.uid }}/" class="issue-see-more btn btn-info btn-sm">See More</a>
                                <div class="row issue-interract-buttons">
                                    <button class="col btn btn-info"><i class="fas fa-heart"></i> Upvote ({{ issue.vote }})</button>
                                </div>
                    </div><br>

                {% endif %}


            {% endfor %}


        </div>



    </div>


    <div class="col-md-8">

        <div class="issues-solved" id="issue-solved-div" style="display: none;">

            {% for issue in issues %}
                {% if issue.is_running == False and issue.is_open == False %}
                    <div class="issue-card">
                                <h3 class="issue-title">{{ issue.title }}</h3>
                                <small class="issue-data"><i class="fas fa-user"></i> {{ issue.user }} <i class="fas fa-calendar-alt"></i> {{ issue.time_date }}  <i class="fas fa-map-marker-alt"></i> State of Noakhali</small>
                                <p class="issue-details">{{ issue.body }}</p>
                                <a href="/issue/{{ issue.uid }}/" class="issue-see-more btn btn-info btn-sm">See More</a>
                                <div class="row issue-interract-buttons">
                                    <button class="col btn btn-info"><i class="fas fa-heart"></i> Upvote ({{ issue.vote }})</button>
                                </div><br>
                    </div>

                {% endif %}


            {% endfor %}


        </div>


    </div>



    </div>
  </div>




</div>
{% endblock %}



{% block extra_script %}

{% endblock %}